body {
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
  width: 130px;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px #44bba4;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 16px;
  background: #f6f7eb;
  color: #393e41;
  border: 1px solid #393e41;
  border-bottom: 7px solid #e94f37;
  border-radius: 5px;
}
p {
  background: #3f88c5;
  color: #f6f7eb;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px;
  transition: background-color 1s ease-out 100ms;
}

p:hover {
  background: #e94f37;
}
.me {
  font-size: 22px;
}
